body {
background-color:floralwhite;

}

h1 {
    font-size: 52px;
    color:darkred;
    font-style:italic
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border-style:solid;
    
    

    
    }
    
h2, h3, h4 {
font-size: 40px;
color:darkcyan;
font-style:italic;
font-family: 'Roboto Slab', serif;
text-decoration: underline;

}


p2, p3, p4 {
/* google font fam, size, line height, change the coler */
font-family: 'Roboto Slab', serif;
font-size: 25px;
line-height: 60px;
color:rgb(34, 13, 129);
font-style: normal;
}

.buttons-links {
border-style:solid;
border-color:coral;
background-color:antiquewhite;
color: coral;
border-width: 4px;
padding: 5px;
text-decoration: none;}

.top_banner {
    height: 100px;
    text-align: center;
    padding-top: 10px;
    background-color:antiquewhite;
    border-style:solid;
    border-color:antiquewhite;
    border-width:10px;
    

    
}

.main-content {
width: 800px;
margin: 0 auto;
padding: 0 10px;
border-style: solid;
border-radius:20px;
border-width:10px;
border-color:azure;
background-color:ghostwhite;
}

.footer{
    height: 70px;
    text-align: center;
    margin: 10 0;
    padding: 10 0;
}


