body {
background-color:floralwhite;

}

h1 {
    font-size: 52px;
    color:darkred;
    font-style:italic
    font-family: 'Roboto Slab', serif;

    
    }
    
h2, h3, h4 {
font-size: 40px;
color:darkcyan;
font-style:italic;
font-family: 'Roboto Slab', serif;

}


p2, p3, p4 {
/* google font fam, size, line height, change the coler */
font-family: 'Roboto Slab', serif;
font-size: 25px;
line-height: 60px;
color:rgb(34, 13, 129);
font-style: normal;
}

.buttons-links{
border-style:solid;
border-color:burlywood;
background-color:burlywood;
color: coral;
border-width:2px;
border-radius: 50%;

.top_banner{
    height: 240px;
    text-align: center;
    padding-top: 110px;

    
}

.main-content{
width: 800px;
margin: 0 auto;
padding: 0 10px;

}

.footer{
    text-align: center;
    margin: 10 0;
    padding: 10 0;
}

}
