h1 h2 h3 h4{
font-size: 40px;
color:darkcyan;
font-style:italic;
font-family: 'Roboto Slab', serif;

}


p2 p3 p4{
/* google font fam, size, line height, change the coler */
font-family: 'Roboto Slab', serif;
font-size: 25px;
line-height: 60px;
color:rgb(34, 13, 129);

}

